.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.main-content-title {
  opacity: 0;
  transform: translateY(20px);
}

.title {
  margin: 0.5em 0 0 0;
  font-size: 2.5em;
}

.main-content-title.animate {
  animation: slideLeft 0.9s ease-in-out forwards;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.help-content {
  margin: 0 auto 4em auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 600px;
  text-align: center;
}

.help-content li span {
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
  line-height: 1.6em;
}

.help-content li {
  opacity: 0;
  transform: translateX(-40px);
}
.help-content.animate li {
  animation: slideFromLeft 0.6s ease-out forwards;
}
.help-content.animate li:nth-child(1) {
  animation-delay: 0.1s;
}
.help-content.animate li:nth-child(2) {
  animation-delay: 0.25s;
}
.help-content.animate li:nth-child(3) {
  animation-delay: 0.4s;
}
.help-content.animate li:nth-child(4) {
  animation-delay: 0.55s;
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
