.why-title {
  font-size: 2.5em;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  margin-bottom: 1em;
  font-weight: 600;
}

.card-wrapper {
  opacity: 0;
  transform: translateY(40px);
  margin-bottom: 1em;
}

.why-is-possible.animate .why-title {
  animation: slideFromLeft 0.6s ease-in-out forwards;
}

.why-is-possible.animate .card-wrapper {
  animation: fadeUp 0.8s ease-in-out forwards;
  animation-delay: 0.2s;
}
@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .why-title {
    font-size: 1.5em;
    width: 380px;
  }
}
