.why-title {
  font-size: 2.5em;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  margin-bottom: 1em;
  font-weight: 600;
}

.card-wrapper {
  opacity: 0;
  transform: translateY(40px);
  margin-bottom: 1em;
}

.why-is-possible.animate .why-title {
  animation: slideFromLeft 0.6s ease-in-out forwards;
}

.why-is-possible.animate .card-wrapper {
  animation: fadeUp 0.8s ease-in-out forwards;
  animation-delay: 0.2s;
}
.why-text {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6em;
  max-width: 700px;
  color: var(--dark-blue);
  opacity: 0;
  transform: translateY(20px);
  margin-top: 0.5em;
}
.why-text.animate {
  animation: fadeUpSoft 0.6s ease-out forwards;
}

@keyframes fadeUpSoft {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .why-title {
    font-size: 1.5em;
    width: 380px;
  }
}
