.about-us-title {
  font-size: 2.5em;
  text-align: center;
}

.about-us-list,
.about-us-title {
  opacity: 0;
  transform: translateX(60px);
}
.about-us-list {
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 600px;
  text-align: center;
}

.about-us-list li span {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--offWhite);
  line-height: 1.6em;
}
.about-us-title {
  color: var(--offWhite);
}

.about-us.animate .about-us-title {
  animation: slideFromRight 0.6s ease-in-out forwards;
}

.about-us.animate .about-us-list {
  animation: slideFromRight 0.8s ease-in-out forwards;
  animation-delay: 0.2s;
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .about-us-title {
    font-size: 1.5em;
  }
  .about-us-list li span {
    font-size: 1em;
  }
  .about-us-list {
    margin: 2em 1em 0 1em;
  }
}
