.main-image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* camada da imagem */
.main-image {
  position: absolute;
  inset: -10% 0; /* cresce para cima e para baixo */
  transform: translateY(0) scale(1.1);
  will-change: transform;
}

.main-image-title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
  text-align: center;
  max-width: 80%;
  z-index: 1;
  pointer-events: none;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  border-radius: 0.2em;
}
.main-image-description {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2rem;
  text-align: center;
  max-width: 80%;
  z-index: 1;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  border-radius: 0.2em;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
}

.main-image-container button {
  position: relative;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
  background-color: red;
  padding: 1em 5em;
  color: wheat;
  border-radius: 1em;
}
