.main-image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* camada da imagem */
.main-image {
  position: absolute;
  inset: -10% 0;
  transform: translateY(0) scale(1.1);
  will-change: transform;
}

.main-image-title,
.main-image-description,
.main-image-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.main-image-title {
  top: 60%;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  max-width: 80%;
  text-transform: uppercase;
}

.main-image-description {
  top: 75%;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  max-width: 80%;
}

.main-image-button {
  top: 85%;
}

.main-image-button button {
  cursor: pointer;
  background-color: red;
  padding: 1em 5em;
  color: wheat;
  border-radius: 1em;
}
.slide-wrapper-title,
.slide-wrapper-description {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  border-radius: 0.2em;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
  pointer-events: none;
}
.slide-wrapper.title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  max-width: 80%;
}

.slide-wrapper.description {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  max-width: 80%;
}

.slide-wrapper-title {
  animation: slideUp 1s ease-in-out;
  will-change: transform, opacity;
}
.slide-wrapper-description {
  animation: slideUp 1.3s ease-in-out;
  will-change: transform, opacity;
}
.slide-wrapper-button {
  animation: slideUp 1.5s ease-in-out;
  will-change: transform, opacity;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
