.wpp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.wpp-button:hover {
  transform: scale(-5px);
}

@media screen and (max-width: 768px) {
  .wpp-button {
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
  }
}
