.card-list_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 em cima, 2 embaixo */
  gap: 2em;
  justify-items: center; /* centraliza os itens */
  align-items: center;
}

.card-list_item {
  list-style: none;
  width: 100%;
  max-width: 340px;
}

.list-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  color: white;
  text-decoration: none;
  width: 100%;
  max-width: 340px;
  padding: 8em 10em;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.list-link::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../../assets/areas-atuacao.png") center/cover no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 12px;
}
.list-link:hover {
  transform: scale(1.05);
}
.list-link:hover .card-title {
  color: red;
}
.list-link:hover::before {
  opacity: 0.8;
}

.card-title {
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  transition: color 0.3s ease-in-out;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .card-list_container {
    grid-template-columns: 1fr;
  }
}
