.card-with-title {
  margin: 0 auto;
  padding: 1em;
  border: 2px solid #ccc;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 650px;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  background-color: var(--gray);
  color: var(--dark-blue);
}
.card-unique-content {
  margin: 2em auto;
  padding: 1em;
  border: 2px solid #ccc;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.274);
  max-width: 650px;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  justify-content: center;
  font-size: 1.2em;
  color: var(--dark-blue);
}

.card-title {
  font-size: 1.3em;
  margin: 0.8em 0;
  width: 550px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.card-subtitle {
  font-size: 1.2em;
  margin: 0.5em 0;
  width: 400px;
  font-weight: 600;
  text-align: center;
  color: var(--dark-blue);
  font-weight: 600;
}

.card-content {
  font-size: 0.9em;
  font-weight: 500;
  list-style-type: decimal;
  color: var(--dark-blue);
  padding-left: 0.3em;
  margin-bottom: 0.6em;
  margin-left: 1em;
}

.card-subcontent {
  font-size: 0.8em;
  text-align: center;
  width: 500px;
  color: var(--dark-blue);
}
