.card-with-title,
.card-unique-content {
  margin: 4em auto;
  padding: 1em;
  border: 2px solid #ccc;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 650px;
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.card-title {
  font-size: 1.3em;
  margin: 1em 0;
  width: 400px;
  font-weight: bold;
  text-align: center;
  color: #1f2070;
  text-transform: uppercase;
}
.card-subtitle {
  font-size: 1.2em;
  margin: 0.5em 0;
  width: 400px;
  font-weight: 600;
  text-align: center;
  color: #333;
  font-weight: 600;
}

.card-content {
  font-size: 0.9em;
  font-weight: 500;
  list-style-type: decimal;
  color: #333;
  padding-left: 0.3em;
  margin-bottom: 0.6em;
  margin-left: 1em;
}
