@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark-blue: #302557;
  --gray: rgb(255, 255, 255);
}

body {
  background-color: #e7e2de;
}

h2 {
  color: var(--dark-blue);
}
