@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --dark-blue: #1a2f4d;
  --gray: rgb(255, 255, 255);
  --offWhite: #e7e2de;
}

body {
  background-color: var(--offWhite);
}

h2 {
  color: var(--dark-blue);
}

ul {
  list-style: none;
}
