.cards {
  max-width: 1000px;
  margin: 2em auto;
}
.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em auto;
}

.image-container {
  display: flex;
  justify-content: center;
  background-color: #333;
  width: 100%;
  padding: 4em 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* SOMENTE A IMAGEM */
.image-animate {
  opacity: 0;
  transform: translateY(120px) scale(0.85);
}

.image-animate.animate {
  animation: riseAndScale 0.9s ease-in-out forwards;
}

@keyframes riseAndScale {
  from {
    opacity: 0;
    transform: translateY(120px) scale(0.85);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
