.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.image-container {
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-blue);
  width: 100%;
  padding: 4em 0 2em 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-lawyers {
  border-radius: 1.3em;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

/* SOMENTE A IMAGEM */
.image-animate {
  opacity: 0;
  transform: translateY(120px) scale(0.85);
}

.image-animate.animate {
  animation: riseAndScale 0.9s ease-in-out forwards;
}

@keyframes riseAndScale {
  from {
    opacity: 0;
    transform: translateY(120px) scale(0.85);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media screen and (max-width: 1024px) {
  .image-container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 2em 0;
    gap: 2em;
  }
}
@media screen and (max-width: 768px) {
  .img-lawyers {
    width: 250px;
    height: auto;
    margin: 0 auto;
  }
}
