.why-blocked-title {
  opacity: 0;
  transform: translateY(30px);
  font-size: 2.5em;
  text-align: center;

  color: var(--dark-blue);
}
.card-unique-content {
  opacity: 0;
  transform: translateY(30px);
  background-color: var(--dark-blue);
  color: var(--offWhite);
  border-radius: 12px;
  padding: 1.5em;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  margin: 1em auto 0 auto;
  text-align: center;
  font-size: 1.4em;
}

.why-blocked.animate .why-blocked-title {
  animation: slideFromLeft 0.6s ease-out forwards;
}

.why-blocked.animate .card-unique-content {
  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: 0.2s;
}
@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .why-blocked-title {
    font-size: 1.5em;
  }
}
