.why-blocked-title {
  opacity: 0;
  transform: translateY(30px);
  font-size: 2.5em;
  text-align: center;
  text-decoration: underline;
}
.card-unique-content {
  opacity: 0;
  transform: translateY(30px);
}

.why-blocked.animate .why-blocked-title {
  animation: fadeUp 0.6s ease-out forwards;
}

.why-blocked.animate .card-unique-content {
  animation: fadeUp 0.6s ease-out forwards;
  animation-delay: 0.2s;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
