.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 12em;
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 100%;
  margin: 0 auto;
}
.logo-header {
  width: 280px;
  height: 240px;
}
.links-list {
  display: flex;
  gap: 2em;
  padding-top: 6em;
  text-transform: uppercase;
}
