.block-origins {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin: 3em auto;
}

/* TÍTULO */
.block-title {
  font-size: 2.5em;
  text-align: center;
  font-weight: 600;
  opacity: 0;
  transform: translateY(30px);
}

.block-title.animate {
  animation: fadeLeft 0.8s ease-out forwards;
}

/* CARD */
.card-wrapper {
  opacity: 0;
  transform: translateY(-20px);
}

.card-wrapper.animate {
  animation: fadeLeft 0.9s ease-out forwards;
}
.info-text {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6em;
  color: var(--dark-blue);
  width: 600px;

  opacity: 0;
  transform: translateY(20px);
}
.info-text.animate {
  animation: fadeUpSoft 0.7s ease-out forwards;
}

@keyframes fadeUpSoft {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .block-title {
    font-size: 1.5em;
    width: 350px;
  }
  .info-text {
    width: 300px;
  }
}
