.footer-container {
  width: 100%; /* w-full */
  height: 40vh; /* h-[50vh] */
  background-color: #000;

  display: grid; /* grid */
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* grid-cols-1 */
  gap: 1rem; /* gap-4 -> 1rem no Tailwind */

  padding: 4rem; /* p-16 -> 4rem */
  padding-top: 3rem; /* pt-12 -> 3rem */

  justify-items: center; /* justify-items-center */
  align-items: start; /* items-start */
  color: var(--gray);
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: var(--offWhite);
}
.logo-footer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.image-footer {
  width: 200px;
  height: 200px;
  mask: url("../../assets/logo_azul.png") no-repeat center / contain;
  -webkit-mask: url("../../assets/logo_azul.png") no-repeat center / contain;
  background: var(--offWhite);
}

@media screen and (max-width: 1024px) {
  .footer-container {
    display: flex;
    justify-content: space-around;
    gap: 2em;
    text-align: center;
    height: 20vh;
  }

  .image-footer {
    width: 140px;
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem;
    padding-top: 1em;
    padding-bottom: 3em;
  }
  .image-footer {
    width: 100px;
    height: 100px;
    margin-top: 1em;
  }
}
