.footer-container {
  width: 100%; /* w-full */
  height: auto; /* h-[50vh] */
  background-color: var(--dark-blue);

  display: grid; /* grid */
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* grid-cols-1 */
  gap: 1rem; /* gap-4 -> 1rem no Tailwind */

  padding: 4rem; /* p-16 -> 4rem */
  padding-top: 3rem; /* pt-12 -> 3rem */

  justify-items: center; /* justify-items-center */
  align-items: start; /* items-start */
  color: var(--gray);
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 3em;
}
.logo-footer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.image-footer {
  width: 320px;
  height: 320px;
  mask: url("../../assets/logo_azul.png") no-repeat center / contain;
  -webkit-mask: url("../../assets/logo_azul.png") no-repeat center / contain;
  background: var(--gray);
}

@media screen and (max-width: 1024px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 2em;
    text-align: center;
  }
  .infos {
    padding-top: 1em;
  }
  .image-footer {
    width: 280px;
    height: 280px;
  }
}
@media screen and (max-width: 768px) {
  .image-footer {
    width: 200px;
    height: 200px;
  }
}
