.animated-card {
  opacity: 0;
  transform: translateY(40px);
}

.animated-card.animate {
  animation: cardFadeUp 0.6s ease-in-out forwards;
}

@keyframes cardFadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2em;
  max-width: 1000px;
  margin: 1em auto;
}
.animated-card {
  background-color: var(--dark-blue);
  color: var(--offWhite);
  border-radius: 12px;
  padding: 1.5em;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.card-item-title {
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5em;
}
.card-item-description {
  font-size: 1em;
  margin: 0 auto;
  width: 90%;
}
